{% extends "SiteBundle:Layout:base.html.twig" %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
  {{ parent() }}
        {% stylesheets 
            '@SiteBundle/Resources/public/css/shop-homepage.css' 
            filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    
{% endblock %}
{% block content %}
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Bestelling aan:</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">Firstname:*</label>  
  <div class="col-md-5">
  <input id="firstname" name="firstname" type="text" placeholder="Firstname" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Lastname:*</label>  
  <div class="col-md-5">
  <input id="lastname" name="lastname" type="text" placeholder="Lastname" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="addressLine1">Address Line 1:*</label>  
  <div class="col-md-5">
  <input id="addressLine1" name="addressLine1" type="text" placeholder="Address line 1" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="addressLine2">Address line 2:</label>  
  <div class="col-md-5">
  <input id="addressLine2" name="addressLine2" type="text" placeholder="Address line 2" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="zip">Zip Code:*</label>  
  <div class="col-md-5">
  <input id="zip" name="zip" type="text" placeholder="Zip code" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="city">City:*</label>  
  <div class="col-md-5">
  <input id="city" name="city" type="text" placeholder="City" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone">Phone number:*</label>  
  <div class="col-md-5">
  <input id="phone" name="phone" type="text" placeholder="Phone number" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="register">Register?</label>
  <div class="col-md-4">
      <p id="button" class="btn btn-info">
        Click here!
      </p>
  </div>
</div>

<div id="register" style="display:none">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email:</label>  
  <div class="col-md-5">
  <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-5">
    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
    
  </div>
</div>
</div>
<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-push-4 col-md-5">
    <button id="true" name="true" class="btn btn-success btn-lg btn-block">Order</button>
    <button id="false" name="false" class="btn btn-danger btn-xs btn-block">Cancel</button>
  </div>
</div>

</fieldset>
</form>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    $('#button').click(function(){
      $('#register').toggle();
    });
    </script>
{% endblock %}