<div class="col-md-3">
    <div class="list-group">
        <a href="#frieten" class="list-group-item">Frieten</a>
        <a href="#snacks" class="list-group-item">Snacks</a>
        <a href="#drank" class="list-group-item">Dranken</a>
        <a href="#koud" class="list-group-item">Koude sauzen</a>
        <a href="#warm" class="list-group-item">Warme sauzen</a>
    </div>
</div>