<table>
	<tr>
		<th>
			Product
		</th>
		<th>
			Aantal
		</th>
		<th>
			Prijs
		</th>
	</tr>
{% for item in cart %}
	<tr>
    	<td>
    		{{ item.name }}
    	</td>
    	<td>
    		{{ item.quantity }}
    	</td>
    	<td>
    		{{ item.price }}
    	</td>
	</tr>
{% endfor %}
	<tr>
		<td colspan="2">Totaal:</td>
		<td>{{ item.totalPrice }}</td>
	</tr>
</table>
<a href="/bill">Plaats bestelling</a>