
		<li style="float:left;width:100%">
			<p style="float:left;width:33.333333333333%">Product</p>
			<p style="float:left;width:33.333333333333%;text-align:right">Aantal</p>
			<p style="float:left;width:33.333333333333%;text-align:right">Prijs</p>
		</li>
		{% for item in cart %}
    		<li style="float:left;width:100%">
    			<p style="float:left;width:33.333333333333%">{{ item.name }}</p>
    			<p style="float:left;width:33.333333333333%;text-align:right">{{ item.quantity }}</p>
    			<p style="float:left;width:33.333333333333%;text-align:right">{{ item.price }}</p>
    		</li>
		{% endfor %}
		<li style="float:left;width:100%">
			<p style="float:left;width:50%">Totaal:</p>
			<p style="float:left;width:50%;text-align:right">27.5</p>
		</li>
		<li style="float:left;width:100%">
			<a href="/bill" class="btn btn-success">Plaats bestelling</a>
		</li>
		<li style="float:left;width:100%">
			<a href="/cart">Ga naar winkelkarretje</a>
		</li>
